@import "../../../styles.scss";

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    background-color: $lora;

  .logo-container {
    display: flex;
    align-items: center;
    gap: 12px;

    img {
      width: $largo;
    }

    h1 {
      font-size: $largo;
    }
  }
}
