@import '../../../styles.scss';

article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $nino;
    width: 100%;
    height: 100vh;
    padding: 60px 25px;
    gap: 20px;
}

@media (min-width:768px){
    article{
        padding: 125px;
    }
}