@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

// cores principais
$nino: #0e100f;
$blanco: #fffce1;
$lora: #ff880a;

// cores alternativas
$ice: #abd1f3;
$cream: #c2e0f9;
$snowy: #fcfcff;
$mint: #dff7fa;

// tipografias
$primary: "Bebas Neue", sans-serif;
$secondary: "Rubik", sans-serif;

// font-sizes
$normal: 1.5rem;
$medio: 2.35rem;
$largo: 3.15rem;

// font-weights
$regular: 400;
$medium: 500;
$bold: 600;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $primary;
}

#penguin {
  color: $lora;
  font-weight: $bold;
}

#teamwork{
    color: $mint;
}